:root {
  --max-width: 78rem;
  --spacing-large: 3.5rem;
  --spacing-medium: 2rem;
  --spacing-standard: 1rem;
  --spacing-micro: 0.5rem;
  --spacing-nano: 0.25rem;
  --heading-color: hsl(0, 0%, 0%);
  --heading-font: 'Lora', serif;;
  --body-color: hsl(0, 0%, 32%);
  --body-font: 'Quicksand', sans-serif;
  --body-background: hsl(0, 0%, 95%);
  --body-segment: hsl(200, 50%, 90%);
  --card-background: hsl(0, 0%, 93%);
  --primary-color: hsl(100, 40%, 90%);
  --secondary-color: hsl(100, 40%, 80%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

html, body {
  background: var(--body-background);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  line-height: 1.5;
  font-weight: 600;
  color: var(--heading-color);
  font-family: var(--heading-font);
}

h1 {
  font-size: 40px;
}

p {
  color: var(--body-color);
  line-height: 1.75;
  font-family: var(--body-font);
  letter-spacing: 1px;
}

button {
  margin: 1rem 0;
  padding: 0.75rem 1.75rem;
  border: 1px solid var(--secondary-color);
  border-radius: var(--spacing-nano);
  color: var(--heading-color);
  background-color: var(--secondary-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);

  &:disabled {
    color: hsl(0, 0%, 60%);
    background-color: hsl(0, 0%, 80%);
    border: none;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    background-color: var(--secondary-color);
  }

  &:active {
    background-color: var(--primary-color);
    transform: scale(0.99);
  }
}
